#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background-color: lightblue;
}

body{
	background-image: url("pictures/bg.jpg") no-repeat center center fixed;
}

#roy{
	font-family: "Comic Sans MS", cursive, sans-serif;
}


