#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background-color: white;
}

body{
	background-image: url("pictures/bg.jpg");
}

#roy{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.fixed-nav-bar a:hover{
	background-color: blue;
	color: black;
	height: 100%
}
