#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background-color: lightblue;
}

body{
	background-image: url("pictures/bg.jpeg");
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
}

h1,h2{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#roy{
	font-family:Arial;
}


